.nav-container {
  background-color: #C7E3FF;
  padding: 0 20px;
  min-height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-title {
  display: inline-block;
  color: $color-brand-blue;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1em;
}

.nav-items {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.nav-item {
  list-style: none;
}